<%- include("../includes/header.ejs", {title:"Add New Company"}); %>
    <form action="/company/insert" method="get">
        <h1> Why is it method get?? and not post ... </h1>
        Company Name: <input id="company_name" name="company_name" type="text" />
        <br />
        Address
        <br />
        <select id="address_id" name="address_id" multiple="multiple">
          <% address.forEach((item) => { %>
            <option value="<%= item.address_id%>"> <%= item.street%> <%= item.zip_code %> </option>
        <%  }) %>
        </select>

        <!-- Initialize the multiselect plugin: -->
        <script type="text/javascript">
            $(document).ready(function() {
                $('#address_id').multiselect();
            });
        </script>


        <br />
        <input type="submit" />

    </form>

</body>

<%- include("../includes/footer.ejs"); %>
