<%- include("../includes/header.ejs", {title:"Company - View All"}); %>

<h1>Companies</h1>
        <a href="/company/add">Add New Company</a> <br />

        <br />


        <table border='1'>
          <tr><th>Name</th><th>Actions</th></tr>
          <% result.forEach((item) => { %>
            <tr>
                <td><a href="/company/?company_id=<%= item.company_id %>"><%= item.company_name %></a></td>
                <td>
                    <button onclick="event.preventDefault();window.location.href='/company/edit/?company_id=<%= item.company_id %>'">Edit</button>
                    <form action="/company/delete/" style="display:inline;">
                        <input type="hidden" name="company_id" id="company_id" value="<%= item.company_id %>" />
                        <input type="submit" value="Delete"/>
                    </form>

                </td>
            </tr>
        <%  }) %>
        </table>


<%- include("../includes/footer.ejs"); %>
