<%- include("../includes/header.ejs", {title: "Update " + company.company_name}); %>

<form action='/company/update' method='get'>
  <input type='hidden' id='company_id' name='company_id' value='<%= company.company_id %>'>
  Company Name: <input id="company_name" name="company_name" type="text" value="<%= company.company_name%>"/>
  <br />
  <br />
  Address <br />
  <select id='address_id' name='address_id' multiple='multiple'>
    <% address.forEach((item) => { %>
    <%  var selected = item.company_id !== null ? "selected" : ""; %>
    <option value="<%=item.address_id %>" <%= selected %>><%= item.street %> <%= item.zip_code %></option>
  <%  }) %>
  </select>

  <script type="text/javascript">
      $(document).ready(function() {
          $('#address_id').multiselect();
      });
  </script>

  <br />

  <input type="submit" />


<%- include("../includes/footer.ejs"); %>
